<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>



    <title>Greenhouse</title>



</head>

<body>
<table>
    <tr>
        <th style="text-align: center">Data</th>
        <th style="text-align: center">Temperatura</th>
        <th style="text-align: center">Wilgotność</th>
    </tr>
    <tr th:each="sensor : ${sensorData}">
        <td style="text-align: center" th:text="${sensor.date}"></td>
        <td style="text-align: center" th:text="${sensor.temperature}"></td>
        <td style="text-align: center" th:text="${sensor.humidity}"></td>
    </tr>
</table>

<a href="/index">Strona Główna</a> <br>
<a href="/editTools">Zmiana stanu elementów wykonawczych</a>




</form>
</body>

</html>
